<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">stock</th>
      <th scope="col">contact</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input [(ngModel)]="article.id" name="id" /></td>
      <td><input [(ngModel)]="article.name" name="name" /></td>
      <td><input [(ngModel)]="article.price" name="price" /></td>
      <td><input [(ngModel)]="article.stock" name="stock" /></td>
      <td><input [(ngModel)]="article.contact" name="contact" /></td>
      <td>
        <button type="submit" class="btn btn-success" (click)="createArticle(article)">
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
    <tr *ngFor="let article of articles">
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td>{{article.price}}</td>
      <td>{{article.stock}}</td>
      <td>{{article.contact}}</td>
      <td>
        <button type="submit" class="btn btn-danger" (click)="deleteArticle(article)">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
